<h1>Help</h1>
<p>
  Get help on Application
  <a href="https://tranquil-cliffs-41521.herokuapp.com/help">Online help page</a>.
  To get help on this sample app, see the
  <a href="https://tranquil-cliffs-41521.herokuapp.com/users"><em>Users</em>
  list</a>.
</p>